/* Empty. Add your own CSS if you like */

#map_container{
	width: 1280;
	height: 900;
	background-color: #202020;
}
body{
	background-color: #202020;
}


#map{
	
	margin:0px auto;
	width:1200px;
	height:800px;
}

#states{
	margin:0px;
}